@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
	background: #ffffff;
	--base: 1em;
}

.information {
	display: flex;
	flex-direction: row;
	align-items: left;
	padding: 1em;
	gap: 1em;
}

h2 {
	padding: 0.5em;
}

h3 {
	padding: 0.5em;
}

.question {
	padding: 1em;
}

.container {
	padding: 1em;
}

p {
	width: 75%;
	margin: auto;

	font-family: 'Montserrat';
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	line-height: normal;
	color: #000000;
}

.pullquote {
	padding: 1em;
}

body {
	padding-bottom: 1em;
}

footer {
	background-color: black;
	padding: 1em;
}