@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

:root {
	background: #ffffff;
	--base: 1em;
}

.text {
	font-family: 'Montserrat';
	font-size: calc(var(--base-font-size) * 1);
}

.bold {
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}

.normal {
	font-weight: 300;
	font-style: normal;
	text-transform: lowercase;
}

.b {color: #000000;}
.w {color: #ffffff;}

.fuck {
	width: 100%;
	height: 658px;
}

.f {
	font-family: zen dots;
	font-size: 3em;
	color: #000000;
}

.u {
	font-family: great vibes;
	font-size: 3em;
	color: #000000;
}

.c {
	font-family: black ops one;
	font-size: 3em;
	color: #000000;
}

.k {
	font-family: stint ultra condensed;
	font-size: 3em;
	color: #000000;
}

.content {
	padding: 1.5em 1em;
	text-align: left;
}

.neutral {
	background-color: #000000;
	width: 100%;
	margin: auto;
	padding: 1.5em 1em;
	text-align: center;
}

.questions {
	margin: 6em 3em 0em 3em;
	width: 75%;
	padding: 3em 1em;
	text-align: center;
}

.q {
	margin-top: -0.75em;
	margin-left: -0.05em;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

	font-family: 'Montserrat';
	font-weight: 100;
	font-style: normal;
	font-size: 32em;
	color: #ffffff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-transform: uppercase;
	text-align: center;
}

.buttons {
	display: flex;
	width: 100%;
	padding: 1em 0.5em;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.click {
	background-color: #000000;
	padding: 1em;
	border-radius: 10em;

	font-family: 'Montserrat';
	font-weight: 450;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #ffffff;
	text-transform: uppercase;
}

.about {
	background-color: #000000;
	display: flex;
	width: 100%;
	padding: 1em;
	align-items: flex-start;
	gap: 1em;
	
	font-family: Montserrat;
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #ffffff
	text-align: center;
}

.info {
	font-family: 'Montserrat';
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
}