@font-face { font-family: Boska-Normal; src:url(Boska-Variable.ttf); }
@font-face { font-family: Boska-Italic; src:url(Boska-VariableItalic.ttf); }
@font-face { font-family: Pencerio; src:url(Pencerio-Hairline.ttf); }
@font-face { font-family: Boxing; src:url(Boxing-Regular.otf); }
@font-face { font-family: Momentum-Regular; src:url(PPMonumentExtended-Regular.otf); }

:root {
	background: #000000;
}

.button-container {
	position: fixed;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

button {
	background-color: #000000;
	border: 1px solid #ffffff;
	border-radius: 100%;
	padding: 1em 1.5em;

	font-family: boxing;
	font-size: calc(var(--base) * 1.25);
	letter-spacing: calc(var(--base) / 12);
	color: #ffffff;
	text-transform: lowercase;
	text-align: center;

	transition: all 0.3s ease-in-out;
}

.button-container button:hover {
	background-color: #6a6a6a;
}

.button-container button:active {
	background-color: #ffffff;
	color: #000000;
}

.text-container p:nth-child(1) {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 1em;
	margin-left: 1em;
	z-index: 4;
}

.text-container p:nth-child(2) {
	position: fixed;
	top: 33%;
	left: 0;
	margin-left: 1em;
	z-index: 4;
}

.text-container p:nth-child(3) {
	position: fixed;
	top: 66%;
	right: 0;
	margin-right: 1em;
	z-index: 4;
}

.text-container p:nth-child(4) {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 1em;
	margin-left: 1em;
	z-index: 4;
}

.header-container {
	width: 100%;
}

.article-one {
	position: sticky;
	z-index: 2;
	overflow: hidden;
}

h1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: hidden;
}

.content-one:nth-child(1), .content-one:nth-child(2) {
	font-family: boska-italic;
	font-weight: 900;
}

.content-one:nth-child(1) {
	text-align: left;
}

.content-one:nth-child(2) {
	text-align: right;
}

.content-one:nth-child(3), .content-one:nth-child(4) {
	font-family: boska-normal;
	font-weight: 900;
	text-align: center;
	text-align: center;
	display: inline-block;
}

.article-two {
	position: sticky;
	z-index: 1;
	overflow-x: auto;
	overflow-y: hidden;

	text-align: center;
}

.article-three {
	position: sticky;
	z-index: 3;
	overflow: hidden;

	text-align: center;
}

h1 {
	color: #000000;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
	font-size: calc(var(--base) * 13.25);
	line-height: calc(var(--base) / 1.25);
	text-transform: uppercase;
}

h2 {
	font-family: pencerio;
	font-size: calc(var(--base) * 20);
	line-height: calc(var(--base) / 1.5);
	color: #ffffff;
	text-transform: lowercase;
	/* margin-left: 1.05em;
	margin-right: 9.775em; */
}

h3 {
	font-family: boska-normal;
	font-style: medium;
	font-size: calc(var(--base) * 5);
	line-height: calc(var(--base) / 1);
	color: #ffb3b3;
	text-transform: titlecase;
}

p {
	font-family: momentum-regular;
	font-size: calc(var(--base) * 1);
	color: #ff0000;
	text-transform: uppercase;
}

/* .container-bottom {
	position: sticky;
	bottom: 0;
}

footer {
	background: #000000;
}

.buttons {
	display: flex;
	width: 100%;
	padding: 1em 0.5em;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.click {
	background-color: #ffffff;
	padding: 1em;
	border-radius: 10em;

	font-family: 'Montserrat';
	font-weight: 450;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #000000;
	text-transform: uppercase;
}

.about {
	background-color: #000000;
	display: flex;
	width: 100%;
	padding: 1em;
	align-items: flex-start;
	gap: 1em;
	
	font-family: Montserrat;
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #ffffff
	text-align: center;
}

.info {
	font-family: 'Montserrat';
	font-weight: 300;
	font-style: normal;
	font-size: calc(var(--base-font-size) * 1);
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
} */