@font-face { font-family: Neue-Condensed; src:url(PPNeueWorld-SuperCondensedLight.otf); }
@font-face { font-family: Momentum-Black; src:url(PPMonumentExtended-Black.otf); }
@font-face { font-family: Momentum-Regular; src:url(PPMonumentExtended-Regular.otf); }
@font-face { font-family: Work-Sans; src:url(WorkSans-VariableFont_wght.ttf); }

:root {
	background: #000000;
	--base: 1em;
}

h1 {
	font-family: momentum-regular;
	font-size: calc(var(--base) * 1);
	line-height: normal;
	color: #ff0000;
	text-transform: uppercase;
}

.text-container h1:nth-child(1) {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 1em;
	margin-left: 1em;
	z-index: 10;
}

.text-container p:nth-child(2) {
	position: fixed;
	top: 50%;
	left: 0;
	margin-left: 1em;
	z-index: 10;
}

footer {
	text-align: center;
}

h2 {
	font-family: Neue-Condensed;
	color: #000000;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
	font-size: calc(var(--base) * 13.25);
	line-height: calc(var(--base) / 1.25);
	text-transform: uppercase;
}

h3 {
	font-family: Times;
	font-weight: 400;
	font-style: italic;
	font-size: 1em;
	color: #ffffff;
	text-align: left;

	padding: var(--base);
}

h4 {
	font-family: Times;
	font-weight: 400;
	font-style: bold italic;
	font-size: 1.5em;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;

	padding: var(--base);
}

p {
	font-family: work-sans;
	font-weight: 300;
	font-size: 1.15em;
	color: #000000;
	line-height: calc(var(--base) * 1.25);
	text-align: left;
}

li {
  background-color: #ffffff;
  border-radius: calc(var(--base) / 2);
}

footer {
	font-family: momentum-regular;
	font-size: calc(var(--base) * 1);
	line-height: normal;
	color: #ff0000;
	text-transform: uppercase;
	text-align: center;
}

@media (min-width: 360px) {
}

@media (min-width: 720px) {
}